.hud {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 5;
}

.hud .hud-logo {
    position: absolute;

    right: 25px;
    top: 0;
}

.hud .hud-logo .hud-logo-top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;
}
.hud .hud-logo .hud-logo-top .hud-logo-top- {
    margin-top: 25px;
    margin-left: 50px;
}
.hud .hud-logo .hud-logo-top .hud-logo-top- img {
    width: 150px;
    height: 40px;
}
.hud .hud-logo .hud-logo-top .hud-logo-top- .hud-logo-top-wanted {
    margin-top: 7px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hud .hud-logo .hud-logo-top .hud-logo-top- .hud-logo-top-wanted svg {
    width: 17px;
    height: 17px;
}
.hud .hud-logo .hud-logo-top .hud-logo-top- .hud-logo-top-wanted div + div {
    margin-left: 7px;
}

.hud .hud-logo .hud-logo-top .hud-logo-top-gz {
    background: linear-gradient(180deg, #5BF435 0.12%, rgba(92, 244, 55, 0) 99.91%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 15px 5px;
    width: 80px;

    top: 0;
    right: 220px;

    position: absolute;
}
.hud .hud-logo .hud-logo-top .hud-logo-top-gz h1 {
    color: white;

    font-weight: 800;
    font-size: 14px;

    text-align: center;
    text-transform: uppercase;

    width: 100%;
    margin-top: 7px;

    font-family: 'Akrobat';
}
.hud .hud-logo .hud-logo-top .hud-logo-top-gz img {
    width: 45px;
    height: auto;
}

.hud .hud-logo .hud-logo-cash {
    margin-top: 10px;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.hud .hud-logo .hud-logo-cash h1,
.hud .hud-logo .hud-logo-cash h2 {
    width: 100%;
    text-align: right;

    color: white;

    font-weight: 800;
    font-size: 23px;
    line-height: 27px;

    font-family: 'Akrobat';
}
.hud .hud-logo .hud-logo-cash h1 {
    color: #B2EF30;

    font-size: 36px;
    line-height: 43px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hud .hud-logo .hud-logo-cash h1:before {
    display: block;
    content: "$";

    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: #15151582;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    margin-right: 10px;

    transform: translateY(2px);
}

.hud .hud-logo .hud-logo-weapon {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.hud .hud-logo .hud-logo-weapon img {
    width: 160px;
    height: auto;
}
.hud .hud-logo .hud-logo-weapon h1,
.hud .hud-logo .hud-logo-weapon h2 {
    color: white;

    font-family: 'Akrobat';
    font-size: 23px;
    font-weight: 800;
    line-height: 26px;

    text-transform: uppercase;
    width: 100%;

    text-align: right;
}
.hud .hud-logo .hud-logo-weapon h1 {
    margin-top: 5px;
}
.hud .hud-logo .hud-logo-weapon h2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 18px;
    line-height: 20px;
}
.hud .hud-logo .hud-logo-weapon h2 span {
    font-size: 18px;
    line-height: 20px;

    opacity: .7;
    transform: translateY(1px);

    margin-left: 3px;
}
.hud .hud-logo .hud-logo-weapon h2:before {
    display: block;
    content: url('./images/weapons_icon.png');

    transform: translateY(-1px);
    margin-right: 5px;
}

.hud .hud-logo .hud-logo-quests {
    margin-top: 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.hud .hud-logo .hud-logo-quests h1 {
    font-family: 'Akrobat';
    font-weight: 800;

    width: 100%;
    text-align: right;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: #FBFF38;
    font-size: 22px;
    line-height: 26px;

    text-transform: uppercase;
    white-space: nowrap;
}
.hud .hud-logo .hud-logo-quests h1:before {
    display: block;
    content: url('./images/quests.png');

    margin-right: 7px;
}
.hud .hud-logo .hud-logo-quests div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    margin-top: 7px;
}
.hud .hud-logo .hud-logo-quests div span {
    width: 100%;
    text-align: right;

    text-transform: uppercase;
    color: white;

    font-family: 'Akrobat';
    font-weight: 700;

    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hud .hud-logo .hud-logo-quests div span:before {
    display: block;
    content: "★";

    margin-right: 7px;
    opacity: .7;

    font-size: 18px;
}
.hud .hud-logo .hud-logo-quests div span + span {
    margin-top: 7px;
}
.hud .hud-logo .hud-logo-quests div span.hud-logo-quests-success {
    text-decoration: line-through;
    color: #FFFFFF8C;
    font-size: 15px;
}
.hud .hud-logo .hud-logo-quests div span.hud-logo-quests-success:before {
    opacity: 1;
    color: #FBFF38;
}


.hud .hud-hint {
    position: absolute;

    top: 50%;
    left: 0;

    transform: translateY(-50%);
    color: white;

    display: flex;
    align-items: center;
}
.hud .hud-hint .hud-hint-title {
    display: flex;
    align-items: center;

    position: absolute;
    transform: rotate(90deg) translateY(185%);
}
.hud .hud-hint .hud-hint-title h1 {
    background: linear-gradient(180deg, rgba(19, 19, 26, .1) 0%, rgba(19, 19, 26, .5) 100%);
    text-align: center;

    padding: 10px;
    font-weight: 500;
}
.hud .hud-hint .hud-hint-title h1:first-child {
    display: flex;
    align-items: center;

    padding: 10px 20px;
}
.hud .hud-hint .hud-hint-title h1:first-child:before {
    display: block;
    content: url('./images/hint.png');

    transform: rotate(-90deg);
    margin-right: 10px;
}
.hud .hud-hint .hud-hint-title h1 + h1 {
    margin-left: 10px;
}

.hud .hud-hint .hud-hint-body {
    margin-left: 60px;
}
.hud .hud-hint .hud-hint-body section {
    display: flex;
    align-items: center;
}
.hud .hud-hint .hud-hint-body section + section {
    margin-top: 10px;
}
.hud .hud-hint .hud-hint-body section h1 {
    font-family: 'Gilroy';
    font-weight: 600;
}
.hud .hud-hint .hud-hint-body section h1:first-child {
    margin-right: 5px;
}


.hud .hud-stats {
    position: absolute;

    bottom: 25px;
    left: 16%;

    display: flex;
}

.hud .hud-stats div {
    margin-left: 10px;
    margin-bottom: 10px;

    min-width: 130px;
    background: linear-gradient(90deg, #A7A8AD 0.22%, rgba(0, 0, 0, 0) 99.74%);

    border-radius: 2px;
    position: relative;

    color: white;
    padding: 3px 0;
}
.hud .hud-stats div img {
    position: absolute;

    top: 0;
    left: 0;

    height: auto;
}
.hud .hud-stats div h1 {
    margin-left: 45px;

    font-weight: 500;
    font-size: 11px;
}
.hud .hud-stats div h1 h2 {
    font-weight: 700;
    font-size: 14px;

    white-space: nowrap;
    line-height: 15px;
}

.hud .hud-stats .hud-stats-micro-on {
    background: linear-gradient(90deg, #78cf57 0.22%, rgba(0, 0, 0, 0) 99.74%);
}
.hud .hud-stats .hud-stats-micro-mute {
    background: linear-gradient(90deg, #ed5c5c 0.22%, rgba(0, 0, 0, 0) 99.74%);
}


.hud .hud-speed {
    position: absolute;

    bottom: 25px;
    right: 25px;

    display: flex;
    align-items: flex-end;
}

.hud .hud-speed .hud-speedometr {
    position: relative;

    width: 300px;
    height: 200px;

    margin-right: 50px;
    margin-left: 40px;

    color: white;

    display: flex;
    align-items: center;
}
.hud .hud-speed .hud-speedometr-def {
    width: 255px;
    height: 100%;

    position: absolute;

    right: 0;
    bottom: 0;
}
.hud .hud-speed .hud-speedometr-def .hud-speedometr-def-bg {
    width: 100%;
    height: 100%;

    background: url('./images/speed_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hud .hud-speed .hud-speedometr-def .hud-speedometr-def-count {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    width: 95px;
}
.hud .hud-speed .hud-speedometr-def .hud-speedometr-def-count span {
    opacity: .25;
}
.hud .hud-speed .hud-speedometr-def .hud-speedometr-def-count h1,
.hud .hud-speed .hud-speedometr-def .hud-speedometr-def-count span {
    font-weight: 700;
    font-size: 48px;

    line-height: 38px;
    font-family: 'Gilroy';
}
.hud .hud-speed .hud-speedometr-def .hud-speedometr-def-count h2 {
    width: 100%;
    text-align: right;

    font-weight: 600;

    text-transform: uppercase;
    font-family: 'Gilroy';
}

.hud .hud-speed .hud-speedometr-def h5 {
    position: absolute;

    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 12px;
}

.hud .hud-speed .hud-speedometr-def .hud-speedometr-def-piece {
    position: absolute;

    bottom: 0;
    right: -7px;

    width: 105%;
    height: 105%;
}
.hud .hud-speed .hud-speedometr-def .hud-speedometr-def-piece-big {
    position: absolute;

    width: 7px;
    height: 2px;

    background-color: white;
}
.hud .hud-speed .hud-speedometr-def .hud-speedometr-def-piece-bigged {
    position: absolute;

    width: 23px;
    height: auto;
}

.hud .hud-speed .hud-speedometr-def .hud-speedometr-def-stick {
    position: absolute;

    width: 8px;
    height: 100px;

    top: calc(50% - 20px);
    left: 50%;

    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin:100% 100%;
}

/* .hud .hud-speed .hud-speedometr-def .hud-speedometr-speed
{
	position: absolute;

	top: calc(50% + 135px);
	left: calc(50% - 142px);

	transform: rotate(33deg) translate(-50%, -50%);

	width: calc(100% + 250px);
	height: calc(100% + 175px);
}
.hud .hud-speed .hud-speedometr-def .hud-speedometr-speed circle
{
	stroke: #B2EF30;

    stroke-dasharray: 200, 200;
    stroke-dashoffset: -40;
} */


.hud .hud-speed .hud-speedometr-data {
    position: absolute;

    bottom: 30px;
    left: -10px;
}

.hud .hud-speed .hud-speedometr-data .hud-speedometr-data-fuel {
    position: absolute;

    width: 80px;
    height: 80px;

    top: -36px;
    right: -53px;
}
.hud .hud-speed .hud-speedometr-data .hud-speedometr-data-fuel img {
    width: 40px;
    height: 40px;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
.hud .hud-speed .hud-speedometr-data .hud-speedometr-data-fuel h1 {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-family: 'Gilroy';
    font-weight: 700;
}

.hud .hud-speed .hud-speedometr-data .hud-speedometr-data-elem {
    display: flex;
    align-items: center;

    position: absolute;
}
.hud .hud-speed .hud-speedometr-data .hud-speedometr-data-elem img {
    width: 20px;
    height: auto;
}
.hud .hud-speed .hud-speedometr-data .hud-speedometr-data-elem h1 {
    background: #15151582;

    border-radius: 5px;
    padding: 3px 8px;

    font-size: 12px;
    font-weight: 700;
    font-family: 'Gilroy';

    text-align: right;
    margin-right: 5px;
}
.hud .hud-speed .hud-speedometr-data .hud-speedometr-data-elem.hud-speedometr-data-elem-on h1 {
    background: #ffbd5fa3;
}




.hud .hud-speed .hud-speed-satiety {
    display: flex;
    align-items: center;
}
.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem {
    height: 35px;

    display: flex;
    align-items: center;

    padding: 5px;
    color: white;

    border-radius: 2px;
}
.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem + .hud-speed-satiety-elem {
    margin-left: 15px;
}
.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem img {
    width: 52px;
    height: auto;
}

.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem.hud-speed-satiety-elem-thirst {
    background: linear-gradient(270.3deg, #0247B9 0.22%, rgba(0, 0, 0, 0) 99.74%);
}
.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem.hud-speed-satiety-elem-thirst img {
    width: 26px;
}
.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem.hud-speed-satiety-elem-thirst .hud-speed-satiety-elem-list {
    margin-right: 10px;
}
.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem.hud-speed-satiety-elem-thirst .hud-speed-satiety-elem-list div.hud-speed-satiety-elem-list-sel {
    background-color: #B2EF30;
    opacity: 1;
}

.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem.hud-speed-satiety-elem-satiety {
    background: linear-gradient(270.3deg, #FFBD5F 0.22%, rgba(0, 0, 0, 0) 99.74%);
}
.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem.hud-speed-satiety-elem-satiety img {
    transform: translateX(10px);
}
.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem.hud-speed-satiety-elem-satiety h1 {
    margin-right: 0;
}
.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem.hud-speed-satiety-elem-satiety .hud-speed-satiety-elem-list div.hud-speed-satiety-elem-list-sel {
    background-color: #ED4343;
    opacity: 1;
}

.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem h1 {
    margin-right: 10px;

    font-size: 12px;
    font-weight: 700;

    text-align: right;
}
.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem .hud-speed-satiety-elem-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 2px;
}
.hud .hud-speed .hud-speed-satiety .hud-speed-satiety-elem .hud-speed-satiety-elem-list div {
    width: 20px;
    height: 10px;

    background-color: white;
    opacity: .25;

    border-radius: 2px;
    clip-path: polygon(25% 0, 100% 1%, 75% 100%, 0 100%);
}


.hud .hud-chat {
    position: absolute;

    top: 25px;
    left: 25px;

    width: 35%;
}
.hud .hud-chat .hud-chat-body {
    overflow: auto;
    height: 220px;

    color: white;
}
.hud .hud-chat .hud-chat-body::-webkit-scrollbar {
    width: 3px;
    height: 2px;

    background-color: #FFFFFF40;
    border-radius: 30px;
}
.hud .hud-chat .hud-chat-body::-webkit-scrollbar-thumb {
    background-color: #B2EF30;
    border-radius: 30px;
    box-shadow: inset 1px 1px 10px #B2EF30;
}
.hud .hud-chat .hud-chat-body.hud-chat-body-not-scroll::-webkit-scrollbar,
.hud .hud-chat .hud-chat-body.hud-chat-body-not-scroll::-webkit-scrollbar-thumb {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}
.hud .hud-chat .hud-chat-body section {
    font-weight: 500;
    font-size: 15px;

    margin-right: 10px;
}
.hud .hud-chat .hud-chat-body section + section {
    margin-top: 5px;
}

.hud .hud-chat .hud-chat-input {
    width: 400px;
    transition: .2s;

    margin-top: 10px;

    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.hud .hud-chat .hud-chat-input.hud-chat-input-open {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
.hud .hud-chat .hud-chat-input input {
    background: linear-gradient(180deg, #13131A 0%, rgba(19, 19, 26, 0.81) 100%);
    border-radius: 6px 6px 0px 0px;

    padding: 12px;
    width: calc(100% - 24px);

    color: white;
    font-size: 12px;
}
.hud .hud-chat .hud-chat-input input::placeholder {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF8C;
}
.hud .hud-chat .hud-chat-input section {
    background: linear-gradient(180deg, #13131A 0%, #13131A 100%);
    border-radius: 0 0 6px 6px;

    width: calc(100% - 30px);

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 0 15px;
}
.hud .hud-chat .hud-chat-input section button {
    background-color: transparent;
    color: white;

    padding: 5px 0;;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF8C;
    position: relative;

    transition: .2s;
}
.hud .hud-chat .hud-chat-input section button + button {
    margin-left: 15px;
}
.hud .hud-chat .hud-chat-input section button.hud-chat-input-btn {
    color: white;
}
.hud .hud-chat .hud-chat-input section button:hover {
    color: white;
}
.hud .hud-chat .hud-chat-input section button.hud-chat-input-btn:before {
    position: absolute;

    display: block;
    content: "";

    width: 100%;
    height: 2px;

    background-color: white;

    bottom: 0;
    left: 0;
}


.hud .hud-keynotf {
    position: absolute;

    left: 50%;
    bottom: 15%;

    transform: translate(-50%, -50%);

    background: radial-gradient(50% 50% at 50% 50%, rgba(25, 27, 38, 0.837) 0%, rgba(25, 27, 38, 0.81) 100%);
    border-radius: 13px;

    color: white;
    padding: 10px 15px;

    font-size: 13px;
    font-weight: 500;

    display: flex;
    align-items: center;
}
.hud .hud-keynotf h1 {
    margin-left: 10px;

    width: 10px;
    height: 10px;

    padding: 10px;
    background: linear-gradient(145.88deg, #5BF435 0.12%, rgba(92, 244, 55, 0) 99.91%);
}
